.sidebar{
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 55px;
    width: 72px;
    background-color: white;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link{
    height: 74px;
    margin-bottom: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar-link div {
    font-size: 10px;
}

.sidebar-link:hover{
    background-color: rgb(226, 226, 226);
}

.sidebar-link img{
    height: 24px;
    margin-bottom: 5px;
}


